.event-search-bar {
  display: grid;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
}


.events-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
    
  }

.event-thumbnail {
    height: 150px;
    width: auto;
    align-items: center;
    border-style: solid;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; ;
  }
  
/* .event-card {
  text-align: center;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  box-shadow: rgba(236, 18, 18, 0.2) 0px 2px 8px 0px;
  text-transform: capitalize;
  text-decoration-line: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color:black;
  background-color: rgb(187, 185, 183, .25);
  } */